<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>austrelia</title>
</head>
<body>
    <center>
        <h1>We will silent all Indian fan with our Performance</h1>
        <h1>We come here to win world cup</h1>
        <h1>If we once come final no-one can beat us </h1>
        <a href="{% url 'india' %}"><h4>India Responce....</h4></a>
        <a href="{% url 'virat' %}"><h4>Virat Kohli Responce....</h4></a>
    </center>
</body>
</html>